.wrap {
  position: absolute;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.align-left {
  .bar {
    transform-origin: left center;
    background: linear-gradient(to right, rgba(0,94,240,.6) 0%, rgba(107,196,255,.6) 100%);
  }
}

.align-right {
  .bar {
    transform-origin: right center;
    background: linear-gradient(to left, rgba(0,94,240,.6) 0%, rgba(107,196,255,.6) 100%);
  }
}

.text {
  position: relative;
  padding: 3px 7px;
  white-space: nowrap;
  color: white;
  font-size: 14px;
  z-index: 1;
  &.hidden {
    visibility: hidden;
  }
}
